# 14-12-2021

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
warnings.filterwarnings("ignore")

### Regularisation

In [2]:
dataset = pd.read_csv("Automobile_data.csv")
dataset

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,23,28,16845
201,-1,95,volvo,gas,sedan,rwd,front,68.8,55.5,ohc,141,160,19,25,19045
202,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohcv,173,134,18,23,21485
203,-1,95,volvo,diesel,sedan,rwd,front,68.9,55.5,ohc,145,106,26,27,22470
204,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,19,25,22625

In [3]:
dataset['normalized-losses'].replace("?",np.nan,inplace=True)

### To change data type of particular column from object to float and its the permanent change

In [4]:
dataset['normalized-losses']=dataset['normalized-losses'].astype('float')

### To replace null values of horsepower column with mean of horsepower column permanently
Find mean/Average of horsepower column

In [11]:
m=dataset['normalized-losses'].mean()
print("Mean of Horsepower : ",m)
dataset['normalized-losses'].fillna(m,inplace=True)

Mean of Horsepower :  122.0

In [12]:
dataset['horsepower'].replace("?",np.nan,inplace=True) # by defaults it take the axis=1

In [13]:
dataset['horsepower']=dataset['horsepower'].astype('float')

In [14]:
m=dataset['horsepower'].mean()
print("Mean of horsepower: ",m)
dataset['horsepower'].fillna(m,inplace=True)

Mean of horsepower:  104.25615763546797

In [16]:
# separate numerical type column and object type column and store in new dataset
dataset_num=dataset.select_dtypes(["int64","float64"])#hold to int and float type data 
dataset_cat=dataset.select_dtypes(object)#hold object type data

In [17]:
#change the object type data into numerical type then use LabelEncoder class
from sklearn.preprocessing import LabelEncoder

In [19]:
for col in dataset_cat :
    le=LabelEncoder() #create the object of LabelEncoder class
    dataset_cat[col]=le.fit_transform(dataset_cat[col])

In [20]:
dataset_cat.head()

   make  fuel-type  body-style  drive-wheels  engine-location  engine-type
0     0          1           0             2                0            0
1     0          1           0             2                0            0
2     0          1           2             2                0            5
3     1          1           3             1                0            3
4     1          1           3             0                0            3

In [21]:
car_new=pd.concat([dataset_num,dataset_cat],axis=1)
car_new
# Concatenate means to join 2 or more DataFrame
# Join column wise means axis=1

,symboling,normalized-losses,width,height,engine-size,horsepower,city-mpg,highway-mpg,price,make,fuel-type,body-style,drive-wheels,engine-location,engine-type
0,3,122.0,64.1,48.8,130,111.0,21,27,13495,0,1,0,2,0,0
1,3,122.0,64.1,48.8,130,111.0,21,27,16500,0,1,0,2,0,0
2,1,122.0,65.5,52.4,152,154.0,19,26,16500,0,1,2,2,0,5
3,2,164.0,66.2,54.3,109,102.0,24,30,13950,1,1,3,1,0,3
4,2,164.0,66.4,54.3,136,115.0,18,22,17450,1,1,3,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,68.9,55.5,141,114.0,23,28,16845,21,1,3,2,0,3
201,-1,95.0,68.8,55.5,141,160.0,19,25,19045,21,1,3,2,0,3
202,-1,95.0,68.9,55.5,173,134.0,18,23,21485,21,1,3,2,0,5
203,-1,95.0,68.9,55.5,145,106.0,26,27,22470,21,0,3,2,0,3
204,-1,95.0,68.9,55.5,141,114.0,19,25,22625,21,1,3,2,0,3

In [22]:
#performing the model with the help of linear regression
#we want to predict the car's price which are contineous numeric value
#apply multiple linear regression because many input means many independent
#variables or features and one target

In [24]:
# Select input from DataFrame car_new
X = car_new.drop("price",axis=1)
X.columns

Index(['symboling', 'normalized-losses', 'width', 'height', 'engine-size',
       'horsepower', 'city-mpg', 'highway-mpg', 'make', 'fuel-type',
       'body-style', 'drive-wheels', 'engine-location', 'engine-type'],
      dtype='object')

In [25]:
# Select output from DataFrame from car_new
Y = car_new["price"]

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.3,random_state=1)

In [28]:
car_new.shape

(205, 15)

In [29]:
X_train.shape

(143, 14)

In [31]:
Y_test.head()

78      6669
97      7999
151     6338
44     10000
40     10295
Name: price, dtype: int64

In [32]:
from sklearn.linear_model import LinearRegression

In [33]:
# Create object of LinearRegression
lr = LinearRegression()

In [34]:
# Train model with 70% data : use fit() inbuilt function of LinearRegression
lr.fit(X_train,Y_train)

LinearRegression()

In [37]:
# Check training score : score() inbuilt function of LinearRegression class
# Score() is similar to r2-score (Values means range : 0 to 1)
print("Training Score : ", lr.score(X_train,Y_train))

Training Score :  0.8504573774895472

In [39]:
# Check testing Score : use unbuilt method which similar to r2-score
print("Testing Score: ",lr.score(X_test,Y_test))

# or Y_predict = lr.predict(X_test)
# or r2_score(Y_test,Y_predict)

Testing Score:  0.7965566780397382

In [40]:
# Here traing Score > testing score means testing error > training error
# Means model os overfitting so remove overfitting situtation then 
# add external error on training time means apply regularization

In [43]:
# Check coefficient / slope of each input : inbuilt method of coef_ of Linear Regression class
m = lr.coef_
print(m)
print("-"* 100)
for i in m:
    print(np.round(i,2))

[ 4.51384957e+01  1.53127607e+00  7.89452171e+02  3.62663990e+02
  9.83682875e+01 -1.08169245e+01  3.08017854e+02 -4.17024371e+02
 -2.00099087e+02 -6.22650015e+02 -1.70235175e+02  1.86860719e+03
  1.64133620e+04  2.83174279e+02]
----------------------------------------------------------------------------------------------------
45.14
1.53
789.45
362.66
98.37
-10.82
308.02
-417.02
-200.1
-622.65
-170.24
1868.61
16413.36
283.17