In [1]:
#Sampling Technique : -
#!pip install imblearn

In [2]:
#We handle Imbalance data ,We take some Samling Technique.
''' There are 2 types of Sampling Technique : -
1. Random Over Sampling Technique  2.Random Under Sampling Technique'''
#Randomoversampling : converts minority class into majority class
#RandomUndersampling : converts majority class into minority class

' There are 2 types of Sampling Technique : -\n1. Random Over Sampling Technique  2.Random Under Sampling Technique'

In [3]:
#Dataset use telecomm_churn : - 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [4]:
#to load the dataset
df=pd.read_csv("telecom_churn.csv")
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [5]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [6]:
#how many rows and columns 
df.shape

(7043, 21)

In [7]:
#To delete unwanted columns customerID permanently from df
df.drop("customerID",axis=1,inplace=True)

In [8]:
df.columns

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [9]:
#To check null values
df.isnull().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  Contract          7043 non-null   object
 15  PaperlessBilling  7043 non-null   object
 16  PaymentMethod     7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7043 non-null   object
 19  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 1.1+ MB

In [11]:
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [12]:
df["TotalCharges"].value_counts()

20.2       11
           11
19.75       9
20.05       8
19.65       8
           ..
225.55      1
2896.6      1
1936.85     1
576.7       1
5957.9      1
Name: TotalCharges, Length: 6531, dtype: int64

In [13]:
#replace space of df["TotalCharges"] with null values permanently 
df["TotalCharges"].replace(" ",np.nan,inplace=True)

In [14]:
df["TotalCharges"].value_counts()

20.2       11
19.75       9
19.65       8
20.05       8
19.9        8
           ..
2896.6      1
1936.85     1
576.7       1
565.35      1
5957.9      1
Name: TotalCharges, Length: 6530, dtype: int64

In [15]:
#Check null values
df.isnull().sum()

gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [16]:
df["TotalCharges"].dtype

dtype('O')

In [17]:
#To find the % of null values in TotalCharges columns
df["TotalCharges"].isnull().sum()*100/df.shape[0]

0.15618344455487718

In [18]:
#To change the datatype of TotalCharges column from object to float
df["TotalCharges"]=df["TotalCharges"].astype("float")

In [19]:
df["TotalCharges"].dtype

dtype('float64')

In [20]:
#To fill null values of TotalCharges column with mean of TotalCharges permanently
df["TotalCharges"].fillna(df["TotalCharges"].mean(),inplace=True)

In [21]:
df.isnull().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  Contract          7043 non-null   object
 15  PaperlessBilling  7043 non-null   object
 16  PaymentMethod     7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7043 non-null   float64
 19  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(16)
memory usage: 1.1+ MB

In [23]:
#separate all object type data and hold in df_cat
df_cat = df.select_dtypes("object")
#separate all numeric datatype type data and hold in df_num
df_num=df.select_dtypes(["float64","int64"])

In [24]:
#To converts object type data to number using LabelEncoder class
from sklearn.preprocessing import LabelEncoder
for col in df_cat:
    #create object of LabelEncoder
    le=LabelEncoder()
    df_cat[col] = le.fit_transform(df_cat[col])

In [25]:
df_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   int32
 1   Partner           7043 non-null   int32
 2   Dependents        7043 non-null   int32
 3   PhoneService      7043 non-null   int32
 4   MultipleLines     7043 non-null   int32
 5   InternetService   7043 non-null   int32
 6   OnlineSecurity    7043 non-null   int32
 7   OnlineBackup      7043 non-null   int32
 8   DeviceProtection  7043 non-null   int32
 9   TechSupport       7043 non-null   int32
 10  StreamingTV       7043 non-null   int32
 11  StreamingMovies   7043 non-null   int32
 12  Contract          7043 non-null   int32
 13  PaperlessBilling  7043 non-null   int32
 14  PaymentMethod     7043 non-null   int32
 15  Churn             7043 non-null   int32
dtypes: int32(16)
memory usage: 440.3 KB

In [26]:
#to concatenate df_num,df_cat and hold in new data frame df_new
df_new = pd.concat([df_num,df_cat],axis=1)
df_new.head()

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Churn
0,0,1,29.85,29.85,0,1,0,0,1,0,0,2,0,0,0,0,0,1,2,0
1,0,34,56.95,1889.50,1,0,0,1,0,0,2,0,2,0,0,0,1,0,3,0
2,0,2,53.85,108.15,1,0,0,1,0,0,2,2,0,0,0,0,0,1,3,1
3,0,45,42.30,1840.75,1,0,0,0,1,0,2,0,2,2,0,0,1,0,0,0
4,0,2,70.70,151.65,0,0,0,1,0,1,0,0,0,0,0,0,0,1,2,1

In [27]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SeniorCitizen     7043 non-null   int64
 1   tenure            7043 non-null   int64
 2   MonthlyCharges    7043 non-null   float64
 3   TotalCharges      7043 non-null   float64
 4   gender            7043 non-null   int32
 5   Partner           7043 non-null   int32
 6   Dependents        7043 non-null   int32
 7   PhoneService      7043 non-null   int32
 8   MultipleLines     7043 non-null   int32
 9   InternetService   7043 non-null   int32
 10  OnlineSecurity    7043 non-null   int32
 11  OnlineBackup      7043 non-null   int32
 12  DeviceProtection  7043 non-null   int32
 13  TechSupport       7043 non-null   int32
 14  StreamingTV       7043 non-null   int32
 15  StreamingMovies   7043 non-null   int32
 16  Contract          7043 non-null   int32
 17  PaperlessBilling  7043 non-null   int32
 18  PaymentMethod     7043 non-null   int32
 19  Churn             7043 non-null   int32
dtypes: float64(2), int32(16), int64(2)
memory usage: 660.4 KB

In [28]:
from sklearn.preprocessing import StandardScaler

In [29]:
#Select Input and output from dataset df
X=df_new.drop("Churn",axis=1) #input variable
Y=df_new["Churn"] #output means target

In [30]:
#train_test_split
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=1)

In [31]:
#1. Standardization
#inbuilt class StandardScaler  use formula Z-score = (Xi-mean of(X))/std(X)
from sklearn.preprocessing import StandardScaler

#fit_transform on training data X_train and transform on testing_data means X_test :
#create object of StandardScaler class
ss=StandardScaler()
X_train=ss.fit_transform(X_train)
X_test=ss.transform(X_test)
print("After scaling training data : ")
print(X_train)
print("After scaling testing data : ")
print(X_test)

After scaling training data :
[[-0.43979045 -0.49748235  0.12975533 ...  0.38426552  0.82758326
   0.39371116]
 [-0.43979045  1.49818033  1.29989652 ... -0.82237716  0.82758326
   0.39371116]
 [ 2.27381019 -0.82330483  0.51980239 ... -0.82237716  0.82758326
   0.39371116]
 ...
 [-0.43979045 -0.17165987  1.35798864 ... -0.82237716  0.82758326
   0.39371116]
 [-0.43979045 -1.23058292 -0.34494024 ... -0.82237716  0.82758326
   1.33366079]
 [-0.43979045 -0.66039359  0.11481736 ...  1.5909082  -1.20833764
  -1.48618812]]
After scaling testing data :
[[-0.43979045  0.35780166  0.4998851  ...  0.38426552  0.82758326
  -1.48618812]
 [ 2.27381019  1.3759969   1.2484435  ...  1.5909082   0.82758326
  -1.48618812]
 [-0.43979045 -0.82330483 -0.65697789 ... -0.82237716  0.82758326
  -1.48618812]
 ...
 [ 2.27381019 -0.45675454  1.06254873 ... -0.82237716  0.82758326
  -1.48618812]
 [-0.43979045  1.53890814 -0.21215826 ...  0.38426552  0.82758326
  -1.48618812]
 [-0.43979045  0.5207129   0.29075348 ...  1.5909082  -1.20833764
   1.33366079]]

In [32]:
def create_model(model):
    model.fit(X_train,Y_train)#train the model
    Y_pred=model.predict(X_test) #test
    print(classification_report(Y_test,Y_pred))
    print("Confusion Matrix : ")
    #Confusion matrix
    print(confusion_matrix(Y_test,Y_pred))
    return model

In [33]:
#BaseLine model : Logistic Regression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
#Base Line Model means use Logistic Regression(we predict yes/no values then 
#use classification algorithm)
from sklearn.linear_model import LogisticRegression

In [34]:
#create the object of LogisticRegression class
lr=LogisticRegression()

In [35]:
#call function
lr=create_model(lr)

              precision    recall  f1-score   support

           0       0.86      0.88      0.87      1585
           1       0.63      0.59      0.61       528

    accuracy                           0.81      2113
   macro avg       0.75      0.73      0.74      2113
weighted avg       0.81      0.81      0.81      2113

Confusion Matrix :
[[1401  184]
 [ 219  309]]

In [36]:
df["Churn"].value_counts()

No     5174
Yes    1869
Name: Churn, dtype: int64